/*==================== BASE ====================*/
* {
    font-family: 'ITC Avant Garde Gothic Std', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

:root {
    --text-color: #EC2232;
}


/*==================== Header ====================*/
.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.nav-container {
    padding: 15px;
}

.menu-bar {
    font-size: 30px;

}

.nav-middle {
    width: 80%;
}

.getInTouch {
    display: flex;
    align-items: center;
    font-size: 14px;
}

.nav-arrow {
    margin-left: 3px;
}

.nav-hr {
    height: 2px;
    border-width: 0;
    color: black;
    background-color: black
}

/*==================== REUSABLE CSS CLASSES ====================*/
.img-fluid {
    width: 100%;
}

.grid {
    display: grid;
}

.text-bold {
    font-weight: bold;
}

/*==================== BANNER ====================*/
.banner-container {
    background-image: linear-gradient(180deg, #05283E -23.09%, rgba(9, 67, 103, 0) 107.85%), url("/images/nav/banner.png");
    height: 90vh;
    margin: 0px 70px;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    color: white;
}

.banner-body h1 {
    position: absolute;
    height: 250px;
    left: 100px;
    top: 100px;
    font-style: normal;
    font-weight: 600;
    font-size: 70px;
    line-height: 70px;
    letter-spacing: -0.02em;
    text-shadow: -1px 1px 0 #000,
        1px 1px 0 #000,
        1px -1px 0 #000,
        -1px -1px 0 #000;
}

.red-div {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: rgba(236, 34, 50, 0.5);
    left: 100px;
    bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.red-div-text {
    font-size: 35px;
    color: rgba(149, 9, 19, 0.5);
    text-shadow: -1px 1px 0 white,
        1px 1px 0 white,
        1px -1px 0 white,
        -1px -1px 0 white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -50px;
}

.red-hr {
    width: 50px;
    height: 2px;
    border-width: 0;
    color: white;
    background-color: white;
    display: inline;
    margin-left: 5px;
}

.text-banner-div {
    width: 50%;
}

.floating-text {
    font-style: normal;
    font-weight: 500;
    font-size: 27px;
    background: linear-gradient(90deg, #FFFFFF -6.46%, rgba(255, 255, 255, 0.2) 54.85%, rgba(255, 255, 255, 0) 104.78%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    z-index: 2;
    position: absolute;
    left: 0px;
    bottom: 25%;
}



/*==================== INDUSTRY EXPERT ====================*/
.industry-expert {
    padding: 100px 200px;
}

.top-text-container {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

.top-text-left {
    width: 50%;
    /* padding-left: 130px; */
}

.red-p {
    color: #EC2232;
    font-weight: 500;
    font-size: 12px;
    letter-spacing: -0.02em;
}

.industry-expert-h2 {
    font-weight: 600;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: -0.02em;
    margin-top: 20px;
}

.top-text-right {
    width: 50%;
    display: flex;
    align-items: flex-end;
    margin-bottom: -80px;
}

.top-text-p {
    width: 70%;
}

.expert-amount-container {
    width: 70%;
    margin: 130px auto 20px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    justify-items: center;
}

.expert-amount-child {
    border-left: 1px solid #C4C4C4;
    padding: 10px;
}

.child-h2 {
    font-weight: 600;
    font-size: 70px;
    display: flex;
    justify-content: center;
    justify-items: baseline;
    align-items: center;
}

.red-plus {
    color: #EC2232;
}



/*==================== FACTORY INFO ====================*/
.factory-info {
    background-image: linear-gradient(rgba(9, 67, 103, 0.2), rgba(9, 67, 103, 0.2)), url("/images/factory-info/factory-bg.png");
    /* height: 700px; */
    background-position: center;
    background-repeat: no-repeat;
    object-fit: cover;
    position: relative;
    color: white;
    padding: 130px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.factory-h2 {
    font-weight: 500;
    font-size: 50px;
    line-height: 55px;
    letter-spacing: -0.02em;
    margin-bottom: 30px;
}

.factory-p {
    font-weight: 300;
    font-size: 15px;
    line-height: 27px;
    margin-bottom: 30px;
    max-width: 80%;
}

.text-side {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.logo-info-container {
    width: 90%;
    margin-top: 10px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: start;
    align-items: end;
}

.factory-circle-img {
    width: 190px;
}

.factory-logo {
    width: 70px;
}

.logo-text h4 {
    font-size: 25px;
    margin-top: 7px;
}

.logo-text p {
    margin-top: 7px;
}


/*==================== BRANDS ====================*/
.brands {
    padding: 130px;
}

.brand-p {
    font-weight: 500;
    font-size: 25px;
    letter-spacing: -0.02em;
    color: #E82232;
    text-align: center;
}

.brand-logo-container {
    margin-top: 50px;
    grid-template-columns: repeat(5, 1fr);
    gap: 20px;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-self: center;
}

.osima-custom {
    filter: opacity(0.1) drop-shadow(0 0 0 gray);
}

.brand-logo-div img:hover {
    filter: opacity(1) drop-shadow(0 0 0 blue);
}

/*==================== CONTACT ====================*/
.contact-container {
    grid-template-columns: repeat(2, 1fr);
}

.contact-left {
    padding: 100px 0px 100px 150px;
    background-color: #0E3466;
}

.contact-left h2 {
    font-weight: 500;
    font-size: 55px;
    color: white;
    padding-left: 0;
}

.contact-hr {
    width: 196px;
    height: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
    border-width: 0;
    color: white;
    background-color: white;
}

.contact-left form {
    display: flex;
    flex-direction: column;
}

.form-input {
    max-width: 75%;
    padding: 14px;
    background: #FFFFFF;
    border-radius: 7.75258px;
    margin-bottom: 16px;
    color: rgba(25, 36, 55, 0.5);
    font-size: 13px;
    display: flex;
}

.form-input input,
textarea {
    width: 100%;
    border: none;
    margin-left: 5px;
}

.btn {
    width: 195px;
    padding: 15px;
    background: #EC2232;
    border: none;
    border-radius: 40.2445px;
    color: white;
}

.contact-right {

    padding: 100px 150px 100px 0px;
    background-color: #F8F8F8;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-right-container {
    max-height: 650px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.contact-text {
    max-width: 300px;
    background-color: white;
    padding: 30px;
    margin-left: -70px;
    z-index: 2;
    font-family: 'AvertaStd-Regular';
}

.text-address-heading {
    font-weight: bold;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: 0.03em;
    color: #192437;
}

.contact-p {
    font-size: 15px;
    line-height: 22px;
    color: #828282;
    margin-top: 20px;
}

.address {
    border-bottom: 1px solid #C4C4C4;
    padding-bottom: 30px;
}

.phone {
    border-bottom: 1px solid #C4C4C4;
    padding: 30px 0px;
}

.time {
    padding-top: 30px;
}

.map-img-container {
    width: 70%;
    z-index: 1;
}

.map-img {
    max-width: 100%;
}

.time li {
    list-style-type: none;
}

/*==================== FOOTER ====================*/

.footer {
    background: #181818;
    color: #FFFFFF;
    padding: 100px 150px;
}

.footer-container {
    grid-template-columns: repeat(3, 1fr);
}

.footer-left {
    display: flex;
    justify-content: center;
}

.footer-container h3 {
    line-height: 40px;
    font-weight: 500;
    font-size: 25px;
}

.footer-middle {
    padding: 0px 15%;
    border-left: 1px solid rgba(196, 196, 196, 0.1);
}

.middle-ul {
    grid-auto-flow: row;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    justify-items: end;
}

.middle-ul li {
    line-height: 38px;
    font-weight: 300;
    font-size: 15px;
}

.footer-right {
    border-left: 1px solid rgba(196, 196, 196, 0.1);
    text-align: end;
    padding: 0px 15%;
}

.footer-icons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    color: #FFFFFF;
    font-size: 30px;
}

.footer-icon {
    margin-left: 10px;
}

.footer-right-text {
    font-weight: 500;
    font-size: 13px;
    letter-spacing: -0.03em;
}

.footer-right-text p {
    margin-top: 20px;
}


/*==================== RESPONSIVE FOR SMALL SCREEN ====================*/

@media screen and (max-width: 360px) {

    /* banner */
    .banner-container {
        height: 100vh;
        margin: 0px;
    }

    .banner-body h1 {
        height: auto;
        left: 20px;
        top: 20px;
        font-size: 50px;
        line-height: 60px;
        z-index: 1;
    }

    .red-div {
        width: 170px;
        height: 170px;
        left: 30px;
        bottom: 30%;
        z-index: 0;
    }

    .text-banner-div {
        width: 80%;
    }

    .floating-text {
        font-size: 20px;
        left: 0px;
        bottom: 20%;
    }

    /*==================== INDUSTRY EXPERT ====================*/
    .industry-expert {
        padding: 70px 40px;
    }

    .top-text-container {
        width: 100%;
        flex-direction: column;
        text-align: center;

    }

    .top-text-left {
        width: 100%;
        /* padding-left: 130px; */
    }

    .red-p {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .industry-expert-h2 {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .top-text-right {
        width: 100%;
        margin-bottom: 0px;
        margin-top: 20px;
    }

    .top-text-p {
        width: 100%;
    }

    .expert-amount-container {
        width: 100%;
        grid-template-columns: repeat(1, 1fr);
        margin-top: 40px;
    }

    .expert-amount-child {
        border-left: 0px;
        border-top: 1px solid #C4C4C4;
        padding: 0;
        margin: 10px 0px 0px;
    }

    .child-h2 {
        font-size: 60px;
    }


    /*==================== FACTORY INFO ====================*/
    .factory-info {
        min-height: 1200px;
        padding: 80px 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .factory-p {
        max-width: 90%;
    }

    .text-side {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .logo-info-container {
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        justify-items: center;
        align-self: center;
    }

    .factory-logo-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    /* Brand */
    .brands {
        padding: 50px 15px;
    }

    .brand-logo-container {
        margin-top: 30px;
        grid-template-columns: repeat(1, 1fr);
    }

    /* Contact */

    .contact-container {
        grid-template-columns: repeat(1, 1fr);
        /* grid-template-rows: repeat(2, 1fr, 2fr); */
    }

    .contact-left {
        padding: 70px 10px;
    }

    .contact-left h2 {
        font-size: 40px;
    }

    .form-input {
        max-width: 100%;
    }

    .contact-right {
        padding: 70px 10px;
        height: auto;
    }

    .contact-right-container {
        max-height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .address {
        padding-bottom: 15px;
    }

    .phone {
        padding: 15px 0px;
    }

    .time {
        padding-top: 15px;
    }

    .contact-text {
        max-width: 100%;
        margin-left: 0px;
        z-index: 2;
    }

    .contact-ul {
        display: flex;
        flex-wrap: wrap;
    }

    .contact-ul li {
        margin-left: 15px;
    }

    .contact-p {
        word-wrap: break-word;
    }

    .map-img {
        width: 100%;
        max-height: 300px;
        object-fit: cover;
        z-index: 1;
    }


    /* Footer */

    .footer {
        padding: 40px 30px;
    }

    .footer-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-left {
        padding: 10%;
        display: flex;
        justify-content: flex-start;
    }

    .footer-middle {
        padding: 10%;
        border-top: 1px solid rgba(196, 196, 196, 0.1);
        border-left: none;
    }

    .middle-ul {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        justify-items: self-start;
        padding-left: 13px;
    }

    .footer-right {
        border-top: 1px solid rgba(196, 196, 196, 0.1);
        border-left: none;
        text-align: start;
        padding: 10%;
    }

    .footer-icons {
        justify-content: flex-start;
    }

    .footer-icon {
        margin-right: 10px;
    }

}

/*==================== RESPONSIVE FOR MOBILE ====================*/
@media screen and (min-width: 361px) and (max-width: 749px) {

    /* banner */
    .banner-container {
        height: 100vh;
        margin: 0px;
    }

    .banner-body h1 {
        height: auto;
        left: 70px;
        top: 70px;
        font-size: 60px;
        line-height: 60px;
        z-index: 1;
    }

    .red-div {
        width: 190px;
        height: 190px;
        left: 70px;
        bottom: 20%;
        z-index: 0;
    }

    .text-banner-div {
        width: 80%;
    }

    .floating-text {
        font-size: 20px;
        left: 0px;
        bottom: 27%;
    }

    /*==================== INDUSTRY EXPERT ====================*/
    .industry-expert {
        padding: 70px 40px;
    }

    .top-text-container {
        width: 100%;
        flex-direction: column;
        text-align: center;
    }

    .top-text-left {
        width: 100%;
        /* padding-left: 130px; */
    }

    .red-p {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .industry-expert-h2 {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .top-text-right {
        width: 100%;
        margin-bottom: 0px;
        margin-top: 20px;
    }

    .top-text-p {
        width: 100%;
    }

    .expert-amount-container {
        width: 100%;
        grid-template-columns: repeat(3, 1fr);
    }

    .child-h2 {
        font-size: 60px;
    }


    /*==================== FACTORY INFO ====================*/
    .factory-info {
        min-height: 1000px;
        padding: 130px 5%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .factory-p {
        max-width: 90%;
    }

    .text-side {
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .logo-info-container {
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

    }

    .logo-side {
        width: 100%;
        display: flex;
        justify-content: center;
    }


    /* Brand */
    .brands {
        padding: 70px 80px;
    }

    .brand-p {
        font-size: 18px;
    }

    .brand-logo-container {
        margin-top: 30px;
        grid-template-columns: repeat(3, 1fr);
    }


    /* Contact */

    .contact-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .contact-left {
        padding: 70px 50px;
    }

    .contact-left h2 {
        font-size: 40px;
    }

    .form-input {
        max-width: 100%;
    }

    .contact-right {
        padding: 70px 50px;
    }

    .contact-right-container {
        max-height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
    }

    .address {
        padding-bottom: 15px;
    }

    .phone {
        padding: 15px 0px;
    }

    .time {
        padding-top: 15px;
    }

    .contact-text {
        max-width: 100%;
        margin-left: 0px;
        z-index: 2;
    }

    .contact-ul {
        display: flex;
        flex-wrap: wrap;
    }

    .contact-ul li {
        margin-left: 15px;
    }

    .contact-p {
        word-wrap: break-word;
    }

    .map-img {
        width: 100%;
        max-height: 300px;
        object-fit: cover;
        z-index: 1;
    }

    /* Footer */

    .footer {
        padding: 40px 30px;
    }

    .footer-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .footer-left {
        padding: 10%;
        display: flex;
        justify-content: flex-start;
    }

    .footer-middle {
        padding: 10%;
        border-top: 1px solid rgba(196, 196, 196, 0.1);
        border-left: none;
    }

    .middle-ul {
        grid-template-columns: repeat(1, 1fr);
        justify-content: center;
        justify-items: self-start;
        padding-left: 13px;
    }

    .footer-right {
        border-top: 1px solid rgba(196, 196, 196, 0.1);
        border-left: none;
        text-align: start;
        padding: 10%;
    }

    .footer-icons {
        justify-content: flex-start;
    }

    .footer-icon {
        margin-right: 10px;
    }




}